.DS_STORE
.remote-sync.json
.venv
.idea
.localstorage
.module-cache
.vscode
public/
*/settings/local.py
*.pyc
*.db
*.orig
*.rdb
*.log
*.pid
__pycache__
celerybeat-schedule
!frontend/.gitignore
!frontsolutions/.gitignore
.env
./etc/postgre/dbdata
