@function get-vw($target, $win) {
  $vw-context: ($win * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

$vw1: get-vw(1px, 1920);
$vw2: get-vw(2px, 1920);
$vw3: get-vw(3px, 1920);
$vw4: get-vw(4px, 1920);
$vw5: get-vw(5px, 1920);
$vw6: get-vw(6px, 1920);
$vw7: get-vw(7px, 1920);
$vw8: get-vw(8px, 1920);
$vw9: get-vw(9px, 1920);
$vw10: get-vw(10px, 1920);
$vw10: get-vw(10px, 1920);
$vw10: get-vw(10px, 1920);
$vw10: get-vw(10px, 1920);
$vw11: get-vw(11px, 1920);
$vw12: get-vw(12px, 1920);
$vw13: get-vw(13px, 1920);
$vw14: get-vw(14px, 1920);
$vw15: get-vw(15px, 1920);
$vw16: get-vw(16px, 1920);
$vw17: get-vw(17px, 1920);
$vw18: get-vw(18px, 1920);
$vw19: get-vw(19px, 1920);
$vw20: get-vw(20px, 1920);
$vw21: get-vw(21px, 1920);
$vw22: get-vw(22px, 1920);
$vw23: get-vw(23px, 1920);
$vw24: get-vw(24px, 1920);
$vw25: get-vw(25px, 1920);
$vw26: get-vw(26px, 1920);
$vw27: get-vw(27px, 1920);
$vw28: get-vw(28px, 1920);
$vw29: get-vw(29px, 1920);
$vw30: get-vw(30px, 1920);
$vw31: get-vw(31px, 1920);
$vw32: get-vw(32px, 1920);
$vw33: get-vw(33px, 1920);
$vw34: get-vw(34px, 1920);
$vw35: get-vw(35px, 1920);
$vw36: get-vw(36px, 1920);
$vw37: get-vw(37px, 1920);
$vw38: get-vw(38px, 1920);
$vw39: get-vw(39px, 1920);
$vw40: get-vw(40px, 1920);
$vw41: get-vw(41px, 1920);
$vw42: get-vw(42px, 1920);
$vw43: get-vw(43px, 1920);
$vw44: get-vw(44px, 1920);
$vw45: get-vw(45px, 1920);
$vw46: get-vw(46px, 1920);
$vw47: get-vw(47px, 1920);
$vw48: get-vw(48px, 1920);
$vw49: get-vw(49px, 1920);
$vw50: get-vw(50px, 1920);
$vw51: get-vw(51px, 1920);
$vw52: get-vw(52px, 1920);
$vw53: get-vw(53px, 1920);
$vw54: get-vw(54px, 1920);
$vw55: get-vw(55px, 1920);
$vw56: get-vw(56px, 1920);
$vw57: get-vw(57px, 1920);
$vw58: get-vw(58px, 1920);
$vw59: get-vw(59px, 1920);
$vw60: get-vw(60px, 1920);
$vw65: get-vw(65px, 1920);
$vw70: get-vw(70px, 1920);
$vw75: get-vw(75px, 1920);
$vw80: get-vw(80px, 1920);
$vw85: get-vw(85px, 1920);
$vw90: get-vw(90px, 1920);
$vw95: get-vw(95px, 1920);
$vw100: get-vw(100px, 1920);
$vw110: get-vw(110px, 1920);
$vw120: get-vw(120px, 1920);
$vw130: get-vw(130px, 1920);
$vw150: get-vw(150px, 1920);
$vw175: get-vw(150px, 1920);
$vw200: get-vw(200px, 1920);
$vw250: get-vw(250px, 1920);
$vw260: get-vw(260px, 1920);
$vw265: get-vw(265px, 1920);
$vw300: get-vw(300px, 1920);
$vw350: get-vw(350px, 1920);
$vw400: get-vw(400px, 1920);
$vw450: get-vw(450px, 1920);
$vw500: get-vw(500px, 1920);
$vw600: get-vw(600px, 1920);
$vw700: get-vw(700px, 1920);
$vw800: get-vw(800px, 1920);
$vw900: get-vw(900px, 1920);
$vw1000: get-vw(1000px, 1920);
