@import './sizes';

// colors
$white: #ffffff !default;
$base: #308BD2 !default;
$base-light: #3FB6F4 !default;
$text: #434242 !default;
$text-light: #808080 !default;

// layout desctop
$desctop-app-container-padding: 0 $vw31;

// layout mobile
$mobile-app-container-padding: 0 $vw8;


:export {
  white: $white;
  base: $base;
  baseLight: $base-light;
  text: $text;
  textLight: $text-light;
  desctopAppContainerPadding: $desctop-app-container-padding;
  mobileAppContainerPadding: $mobile-app-container-padding;
}